$black: #000000;
$blue: #14213D;
$yellow: #FCA311;
$grey: #E5E5E5;
$white: #FFFFFF;

.bg-black {
  background-color: $black;
}

.bg-blue {
  background-color: $blue;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-grey {
  background-color: $grey;
}

.bg-white {
  background-color: $white;
}

.text-black {
  color: $black;
}

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $yellow;
}

.text-grey {
  color: $grey;
}

.text-white {
  color: $white;
}
