
.card-columns {
  column-count: 4;
  .card-img-top {
    height: 260px;
    object-fit: cover;
  }
}

.image-profile {
  border-radius: 50%;
  height: 35px;
  width: auto;
}

.success-banner {
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
}

.google-login {
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding: 12px 16px;
  span {
    padding-left: 12px;
  }
}

.height-100vh {
  height: 100vh;
}