body, p, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif !important;
}

.font-light {
  font-weight: lighter;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-black {
  font-weight: bolder;
}