<!DOCTYPE html>
<html>
  <head>
    <title>Gusto Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="root"></div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
